@import 'app/scss/variables';
@import 'app/scss/flex';

.pane {
  @extend %align-center;
  background-color: $highlight-color;

  .first {
    width: 50%;

    .image {
      height: 150px;
  
      img {
        max-width: 150px;
      }
    }
  }

  .second {
    width: 50%;

    .title {
      font-weight: $bold;
    }
  }
}