@import 'app/scss/variables';
@import 'app/scss/flex';

.symbolCard {
  @extend %flex-col;
  width: 50%;
  text-decoration: none;
  color: black;
  
  .title {
    font-weight: $bold;
  }

  svg {
    @extend %self-end;
    border: 1px solid black;
    border-radius: 20px;
  }

  .image {
    width: 150px;
    height: 150px;

    img {
      max-width: 150px;
    }
  }
}